.toolbar-style {
  background-color: #EB1C61;
  color: white;
}

#back-button{
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .side-bar-responsive-status {
    display: none;
  }
}
