<div>

  <h1 class="mat-h1" style="margin-top: -5px">Create a new classroom</h1>

  <form>
    <mat-form-field>
      <input #className name="className" matInput placeholder="Class Name" >
    </mat-form-field>
    <mat-form-field style="margin-left: 30px">
      <input #classId name="classId" matInput placeholder="Class Id">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 400px;">
      <textarea #classDescription name="classDescription" matInput placeholder="Class Description"></textarea>
    </mat-form-field>
  </form>

  <button
    (click)="createNewClass(className.value, classId.value, classDescription.value)"
    class="main-button"
    mat-flat-button
    style="margin-top: 15px">
    Create Class
  </button>

</div>
