.example-card {
  max-width: 600px;
}

.example-header-image {
  background-image: url('https://media-exp1.licdn.com/dms/image/C5103AQFqz72A7GA3JA/profile-displayphoto-shrink_200_200/0?e=1591833600&v=beta&t=UCTBRGwIUZD-q6NdcyOC05JUEzUnCtyP06mJG9Nu_2Q');
  background-size: cover;
}

.make-inline { float:left; }

.clearBoth { clear:both; }


.report-button{
  cursor: pointer;
  text-decoration: underline;
  font-size: small;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.pre-report-button {

}

.post-report-button {
  color: red;
}
