<div id="reset-password-popup">

  <mat-card id="reset-password-popup-card">
    <div id="reset-password-title" class="mat-display-1">Reset Eduflow Password</div>
    <form class="example-form">
      <mat-form-field class="match-parent-width">
        <input
          ngModel
          #password="ngModel"
          matInput
          placeholder="Password"
          value=""
          type="password"
          required
          name="passwordField"
          autofocus
        >
        <mat-error *ngIf="password.invalid && password.errors.required">
          Enter a valid password.
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="match-parent-width">
        <input
          ngModel
          #confirmPassword="ngModel"
          matInput
          placeholder="Confirm Password"
          value=""
          type="password"
          required
          name="confirmPasswordField"
        >
        <mat-error *ngIf="confirmPassword.invalid && confirmPassword.errors.required">
          Confirm your password.
        </mat-error>
      </mat-form-field>
    </form>

    <br>
    <button (click)="onResetPassword(password.value, confirmPassword.value)" mat-raised-button color="primary" class="match-parent-width mat-display-3">Reset Password</button>

  </mat-card>

</div>
